{% extends "base.html" %}
{% load static %}

{% block content %}

  <h1 class="cover-heading">Make a DnD character</h1>
  {% if user.is_authenticated %}
    <p class='lead'> Welcome {{user.get_username}}</p>
    <div class='row'>
      {% for character in user.characters.all %}
        <div class='col-sm-2'>
          <div class='card'>
            <div class='card-title'>
              <h5 class='card-title'>{{ character.name }}</h5>
              <p class='card-text'>{{ character.class }} {{ character.race }}<br>
                Level: {{ character.level }}</p>
              <a href='{% url 'dnd:view_char' character.id %}' class='btn btn-primary' role='button'>View Character</a>
              <a href='{% url 'dnd:edit_char' character.id %}' class='btn btn-secondary' role='button'>Edit Character</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class='btn btn-lg btn-success' href='{% url 'dnd:new_char' %}' role='button'>New Character</a>
  {% else %}
    <p class='lead'> Please sign up/sign in to roll a character</p>
    <a href="{% url 'login' %}?next={{request.path}}">Login</a>
  {% endif %}


<div class='fixed-bottom'>
  <p align='center' id='roll'></p>
  <button id='d4_button' class="btn btn-primary btn-lg">D4</button>
  <button id='d6_button' class="btn btn-primary btn-lg">D6</button>
  <button id='d8_button' class="btn btn-primary btn-lg">D8</button>
  <button id='d10_button' class="btn btn-primary btn-lg">D10</button>
  <button id='d12_button' class="btn btn-primary btn-lg">D12</button>
  <button id='d20_button' class="btn btn-primary btn-lg">D20</button>
</div>
<script src="{% static "dnd/dice.js" %}"></script>

{% endblock content %}

