{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="cover-heading">Make a DnD character</h1>
<form role='form' action='' method='post'>
  {% csrf_token %}
  {{ form }}
  <input type='submit' value='Submit' />
</form> 





<div class='fixed-bottom'>
  <p align='center' id='roll'></p>
  <button id='d4_button' class="btn btn-primary btn-lg">D4</button>
  <button id='d6_button' class="btn btn-primary btn-lg">D6</button>
  <button id='d8_button' class="btn btn-primary btn-lg">D8</button>
  <button id='d10_button' class="btn btn-primary btn-lg">D10</button>
  <button id='d12_button' class="btn btn-primary btn-lg">D12</button>
  <button id='d20_button' class="btn btn-primary btn-lg">D20</button>
</div>
<script src="{% static "dnd/dice.js" %}"></script>

{% endblock content %}

