# ignore django stuff
*.log
randomrestaurant/secret_key.py


# other parts of website
boardgames/
db.sqlite3
restaurants/
#static/
#templates/

# gunicorn
gunicorn_start.sh
run/

# virtual environment
venv/
