<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF=8">
  <title>Pilith</title>
  {% load static %}
  <!-- Loads the path to your static files
  <link rel="stylesheet" type="text/css" href="{% static 'removed/images/style.css' %}" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'removed:index' %}">Pilith</a>
      </div>

      <!-- Items -->
      <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="{% url 'removed:removed' %}">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Removed
            </a>
          </li>
          <li class="">
            <a href="{% url 'removed:fixed' %}">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Fixed List
            </a>
          </li>
        </ul>
{% block add_button %}
{% endblock %}
      </div>

    </div>
  </nav>

{% block body %}
{% endblock %}
</body>
</html>
