{% extends 'removed/base.html' %}

{% block add_button %}
<ul class="nav navbar-nav navbar-right">
  <li class="">
    <a href="{% url 'removed:add_comp' %}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
  {% if messages %}
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </div>
  </ul>
{% endif %}
  <h3 style="text-align:center">Removed Component Tracking</h3>
    <table id="myTable" border="2" class="table table-hover">
      <thead>
        <tr>
          <th>Bag Id</th>
          <th>Entry Date</th>
          <th>Board</th>
          <th>Serial Number</th>
          <th>Part Number</th>
          <th>Handling</th>
          <th>Notes</th>
          <th>Username</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for component in components %}
        <tr>
                <th>{{ component.bag_id }}</th>
                <th>{{ component.entry_date }}</th>
                <th>{{ component.board }}</th>
                <th>{{ component.serial_num }}</th>
                <th>{{ component.part_num }}</th>
                <th>{{ component.handling }}</th>
                <th>{{ component.notes }}</th>
                <th>{{ component.user_name }}</th>
                <th><a href="{% url 'removed:edit_comp' component.id %}">Edit</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
