{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'restaurants/pilith.css' %}">
</head>


<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Pilith.com</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href='https://www.pilith.com'>Home</a></li>
                  <li><a href="{% url 'restaurants:index' %}">Lunch</a></li>
                  <li><a href='#'>Boardgames</a></li>
                  <li><a href='{% url 'dnd:index' %}'>Roll Player</a></li>
                  <li><a href="{% url 'restaurants:credits' %}">Credits</a></li>
                  {% if user.is_authenticated %}
                    <li float:'right'><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                    <li float:'right'><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </div>


</body>
</html>

