<!doctype html>
{% load static %}
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'restaurants/pilith.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Pilith.com</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href='https://www.pilith.com'>Home</a></li>
                  <li><a href="{% url 'restaurants:index' %}">Lunch</a></li>
                  <li><a href='#'>Boardgames</a></li>
                  <li><a href='{% url 'dnd:index' %}'>Roll Player</a></li>
                  <li><a href="{% url 'restaurants:credits' %}">Credits</a></li>
                    {% if user.is_authenticated %}
                      <li float:'right'><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                      <li float:'right'><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
              </nav>
            </div>
          </div>

          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>


</body>
</html>

